@{
    ViewBag.Title = "Respuesta de Invitación";
}
<style>
    .background-radial-gradient {
        background-image: radial-gradient(circle at left, #07305d 30%, #305e90 100%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .bg-glass {
        background-color: hsla(0, 0%, 100%, 0.9) !important;
        backdrop-filter: saturate(200%) blur(25px);
    }
</style>
<section style="display: flex; justify-content: center; align-items: center; height: 100vh;">

  
        <div class="text-center text-lg-start my-0 w-50">
            <div class="row gx-lg-5 align-items-center background-radial-gradient overflow-hidden" style="border-radius:50px">
                <div class="col-lg-6 mb-lg-0" style="z-index: 10">
                    <img src="~/Utils/Img/login.png" class="img-fluid" />
                </div>
                <div class="col-lg-6 mb-lg-0">
                    <div class="card bg-glass" style="border-radius:50px; margin: 15px 0px">
                        <div class="card-body px-4 py-5 px-md-5">
                            <p class="h3 fw-bold mb-3 pb-3 text-center">Gracias por tu respuesta!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
</section>
    
